h1{
  color: black;
}

.bar {
    background-color: crimson;
    padding: 2cm;
}

*{
    font-family: 'Akronim', cursive;
}
.main-img{width:10cm;margin-left: auto;
    margin-right:auto;
    display : block;

}